@use "sass:math";

@mixin rect($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($dimension) {
  @include rect($dimension, $dimension);
}

@mixin circle($radius) {
  @include square($radius);
  border-radius: 50%;
}